<% provide(:title, 'Edit User') %>
<h1>Update your Profile</h1>

<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header"></div>
    <button class="navbar-toggle" data-target="#myNavbar" data-toggle="collapse" type="button">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-left">
        <li>
          <img alt="RizqLogo" class="img-rounded logo" height="50px" src="http://i1118.photobucket.com/albums/k606/apocalypse8/rizq%20logo_zpspsfuuoad.png" width="50px"/>
        </li>
        <li>
          <%= link_to 'Edit Profile', "#" %>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
      </ul>
    </div>
  </div>
</nav>

<br><br>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages' %>
      
                  
      <%= f.label :firstname %>
      <%= f.text_field :firstname, class: 'form-control' %>
      <br>
      <%= f.label :lastname %>
      <%= f.text_field :lastname, class: 'form-control' %>
      
      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %>
      <br>
      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %>
      <br>
      <%= f.label :password_confirmation, "Confirmation" %>
      <%= f.password_field :password_confirmation, class: 'form-control' %>
      <br>
      <%= f.label :cnic %>
      <%= f.text_field :cnic, class: 'form-control' %>
      <br>  
      <%= f.label :age%>
      <%= f.text_field :age, class: 'form-control' %>
      <br>      
      <%= f.label :address %>
      <%= f.text_field :address, class: 'form-control' %>
      <br>      
      <%= f.label :organization %>
      <%= f.text_field :organization, class: 'form-control' %>
      <br>
      <%= f.label :phone %>
      <%= f.text_field :phone, class: 'form-control' %>
      <br>
      <%= f.submit "Save changes", class: "btn btn-warning" %>
    <% end %>
  </div>
</div>