%nav.navbar.navbar-default.navbar-fixed-top
    %div.container
        %div.navbar-header
        %button.navbar-toggle{'data-target' => '#myNavbar', 'data-toggle' => 'collapse', :type => 'button'}
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
        %div.collapse.navbar-collapse#myNavbar
            %ul.nav.navbar-nav.navbar-left
                %li
                    %img.img-rounded.logo{:alt => 'RizqLogo', :height => "50px", :src => "http://i1118.photobucket.com/albums/k606/apocalypse8/rizq%20logo_zpspsfuuoad.png", :width => "50px"}
                %li
                    = link_to @user.username, "#"
            %ul.nav.navbar-nav.navbar-right
                %li
                    = link_to 'Logout', logout_path
                %li
                    = link_to 'Home Page', root_url
                %li 
                    = link_to "Settings", edit_user_path(@user)


%h1= @user.username
= @lol
%br

// = link_to "Settings", edit_user_path(@user)
- if @user.designation == "manager"
    = form_tag user_path(@user), :method => :get do
        = label :manager, :post, 'Message'
        = text_field :post, "status"
        = submit_tag 'post'
    = "Approve Volunteers"
    - @all_pending_volunteers.each do |vol|
        %br
        = vol.username
        = vol.email
        = vol.cnic
        = vol.age
        = vol.address
        = vol.organization
        = vol.firstname
        = vol.lastname
        = vol.phone
        = link_to 'approve', active_user_path(:volid=>vol.id)
        = link_to 'reject', reject_user_path(:volid=>vol.id)
    - 5.times do
        %br
    - @all_statuses.each do |status|
        %br
        = @user.username + ": "
        = status.status
    - 5.times do
        %br
    = 'Donations!'
    - @don_rizqs.zip(@don_names).each do |rizq, uname|
        %br
        = rizq.user_id
        = uname[0]
        = rizq.food
        = rizq.quantity
        = rizq.address
        = rizq.area
        = rizq.date
        = rizq.time
        = rizq.perishable
    - 5.times do
        %br
    = 'Completed Requests!'
    - @req_rizqs.zip(@req_names).each do |rizq, uname|
        %br
        = rizq.user_id
        = uname[0]
        = rizq.food
        = rizq.quantity
        = rizq.address
        = rizq.area
        = rizq.date
        = rizq.time
        = rizq.perishable
    - 5.times do
        %br
    = 'Assign Volunteers!'
    - @ass_req_rizqs.zip(@ass_req_names).each do |rizq, uname|
        %br
        = rizq.user_id
        = uname[0]
        = rizq.food
        = rizq.quantity
        = rizq.address
        = rizq.area
        = rizq.date
        = rizq.time
        = rizq.perishable
        = form_tag user_path(@user), :method => :get do
            = hidden_field_tag "rizq_id", rizq.id
            = select(:usern,:useri, @voli)
            = submit_tag 'assign'
        = form_tag user_path(@user), :method => :get do
            = hidden_field_tag "delete", "delete"
            = hidden_field_tag "rizq_id", rizq.id
            = submit_tag 'delete'
    - 5.times do
        %br
    = 'In Progress!'
    - @in_req_rizqs.zip(@in_req_names).each do |rizq, uname|
        %br
        = rizq.user_id
        = uname[0]
        = rizq.food
        = rizq.quantity
        = rizq.address
        = rizq.area
        = rizq.date
        = rizq.time
        = rizq.perishable
        = rizq.volunteer
        = form_tag user_path(@user), :method => :get do
            = hidden_field_tag "rizq_id", rizq.id
            = select(:usern,:useri, @voli)
            = submit_tag 'change'
        = form_tag user_path(@user), :method => :get do
            = hidden_field_tag "delete", "delete"
            = hidden_field_tag "rizq_id", rizq.id
            = submit_tag 'delete'
        
- if @user.designation == "volunteer" && @user.approval == false
    = "Aprroval Pending"
- elsif @user.designation == "volunteer"
    %br
    = "Assigned Jobs"
    - @myjobs.zip(@myjobs_names).each do |rizq, uname|
        %br
        = uname[0]
        = rizq.food
        = rizq.quantity
        = rizq.address
        = rizq.area
        = rizq.date
        = rizq.time
        = rizq.perishable
        = form_tag user_path(@user), :method => :get do
            = hidden_field_tag "complete", "complete"
            = hidden_field_tag "rizq_id", rizq.id
            = submit_tag 'complete'
    %br
    = "Completed Jobs"
    - @comp_myjobs.zip(@comp_myjobs_names).each do |rizq, uname|
        %br
        = uname[0]
        = rizq.food
        = rizq.quantity
        = rizq.address
        = rizq.area
        = rizq.date
        = rizq.time
        = rizq.perishable
- if @user.designation == "user"
    %br
    = "My requests"
    - @myreqs.each do |rizq|
        %br
        = rizq.food
        = rizq.quantity
        = rizq.address
        = rizq.area
        = rizq.date
        = rizq.time
        = rizq.perishable
        = rizq.volunteer
        = form_tag user_path(@user), :method => :get do
            = hidden_field_tag "delete", "delete"
            = hidden_field_tag "rizq_id", rizq.id
            = submit_tag 'delete'
    %br
    = "Completed Requests"
    - @comp_myreqs.each do |rizq|
        %br
        = rizq.food
        = rizq.quantity
        = rizq.address
        = rizq.area
        = rizq.date
        = rizq.time
        = rizq.perishable
        = rizq.volunteer
- if @user.designation == "donor"
    %br
    = "My Donations"
    - @mydons.each do |rizq|
        %br
        = rizq.food
        = rizq.quantity
        = rizq.address
        = rizq.area
        = rizq.date
        = rizq.time
        = rizq.perishable