%nav.navbar.navbar-default.navbar-fixed-top
    %div.container
        %div.navbar-header
        %button.navbar-toggle{'data-target' => '#myNavbar', 'data-toggle' => 'collapse', :type => 'button'}
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
        %div.collapse.navbar-collapse#myNavbar
            %ul.nav.navbar-nav.navbar-left
                %li
                    %img.img-rounded.logo{:alt => 'RizqLogo', :height => "50px", :src => "http://i1118.photobucket.com/albums/k606/apocalypse8/rizq%20logo_zpspsfuuoad.png", :width => "50px"}
                %li
                    = link_to @user.username, "#"
            %ul.nav.navbar-nav.navbar-right
                %li
                    = link_to 'Logout', logout_path
                %li
                    = link_to 'Home Page', root_url
                %li 
                    = link_to "Settings", edit_user_path(@user)


%h1= @user.username
= @lol

// = link_to "Settings", edit_user_path(@user)
- if @user.designation == "manager"
    #man.jumbotron.text-center
        = form_tag user_path(@user), :method => :get do
            %h3= label :manager, :post, 'Message'
            #mess= text_field :post, "status", :class => 'form-control', :style => "width:600px"
            %br
            = submit_tag 'post', :class => "btn btn-warning"
    
    
    #messages.container-fluid
        %h3
            = "Messages"
        %ul
        - @all_statuses.each do |status|
            %br
            %li 
                = @user.username + ": "
                = status.status            
    %br
    #volunteer.container-fluid
        %h3
            = "Approve Volunteers"
        - @all_pending_volunteers.each do |vol|
            %br
            = vol.username
            = vol.email
            = vol.cnic
            = vol.age
            = vol.address
            = vol.organization
            = vol.firstname
            = vol.lastname
            = vol.phone
            = link_to 'approve', active_user_path(:volid=>vol.id)
            = link_to 'reject', reject_user_path(:volid=>vol.id)

    %br
    #donations.container-fluid
        %h3= 'Donations!'
        - @don_rizqs.zip(@don_names).each do |rizq, uname|
            %br
            = rizq.user_id
            = uname[0]
            = rizq.food
            = rizq.quantity
            = rizq.address
            = rizq.area
            = rizq.date
            = rizq.time
            = rizq.perishable
    %br
    #completed.container-fluid
        %h3= 'Completed Requests!'
        - @req_rizqs.zip(@req_names).each do |rizq, uname|
            %br
            = rizq.user_id
            = uname[0]
            = rizq.food
            = rizq.quantity
            = rizq.address
            = rizq.area
            = rizq.date
            = rizq.time
            = rizq.perishable
    
    %br
    #assign.container-fluid
        %h3= 'Assign Volunteers!'
        - @ass_req_rizqs.zip(@ass_req_names).each do |rizq, uname|
            %br
            = rizq.user_id
            = uname[0]
            = rizq.food
            = rizq.quantity
            = rizq.address
            = rizq.area
            = rizq.date
            = rizq.time
            = rizq.perishable
            = form_tag user_path(@user), :method => :get do
                = hidden_field_tag "rizq_id", rizq.id
                = select(:usern,:useri, @voli)
                = submit_tag 'assign', :class => "btn btn-warning"
            = form_tag user_path(@user), :method => :get do
                = hidden_field_tag "delete", "delete"
                = hidden_field_tag "rizq_id", rizq.id
                = submit_tag 'delete', :class => "btn btn-warning"
    %br
    #progress.container-fluid
        %h3= 'In Progress!'
        - @in_req_rizqs.zip(@in_req_names).each do |rizq, uname|
            %br
            = rizq.user_id
            = uname[0]
            = rizq.food
            = rizq.quantity
            = rizq.address
            = rizq.area
            = rizq.date
            = rizq.time
            = rizq.perishable
            = rizq.volunteer
            = form_tag user_path(@user), :method => :get do
                = hidden_field_tag "rizq_id", rizq.id
                = select(:usern,:useri, @voli)
                = submit_tag 'change', :class => "btn btn-warning"
            = form_tag user_path(@user), :method => :get do
                = hidden_field_tag "delete", "delete"
                = hidden_field_tag "rizq_id", rizq.id
                = submit_tag 'delete', :class => "btn btn-warning"
        
- if @user.designation == "volunteer" && @user.approval == false
    -5.times do
        %br
    %h2.text-center= "Approval Pending"
- elsif @user.designation == "volunteer"
    %br
    #ajobs.container-fluid
        %h3= "Assigned Jobs"
    - @myjobs.zip(@myjobs_names).each do |rizq, uname|
        %br
        = uname[0]
        = rizq.food
        = rizq.quantity
        = rizq.address
        = rizq.area
        = rizq.date
        = rizq.time
        = rizq.perishable
        = form_tag user_path(@user), :method => :get do
            = hidden_field_tag "complete", "complete"
            = hidden_field_tag "rizq_id", rizq.id
            = submit_tag 'complete', :class => "btn btn-warning"
    %br
    #cjobs.container-fluid
        %h3= "Completed Jobs"
    - @comp_myjobs.zip(@comp_myjobs_names).each do |rizq, uname|
        %br
        = uname[0]
        = rizq.food
        = rizq.quantity
        = rizq.address
        = rizq.area
        = rizq.date
        = rizq.time
        = rizq.perishable
        
- if @user.designation == "user"
    %br
    #mreq.container-fluid
        %h3= "My requests"
    - @myreqs.each do |rizq|
        %br
        = rizq.food
        = rizq.quantity
        = rizq.address
        = rizq.area
        = rizq.date
        = rizq.time
        = rizq.perishable
        = rizq.volunteer
        = form_tag user_path(@user), :method => :get do
            = hidden_field_tag "delete", "delete"
            = hidden_field_tag "rizq_id", rizq.id
            = submit_tag 'delete', :class => "btn btn-warning"
    %br
    #creq.container-fluid
        %h3= "Completed Requests"
    - @comp_myreqs.each do |rizq|
        %br
        = rizq.food
        = rizq.quantity
        = rizq.address
        = rizq.area
        = rizq.date
        = rizq.time
        = rizq.perishable
        = rizq.volunteer
        
- if @user.designation == "donor"
    %br
    #donor.container-fluid
        %h3= "My Donations"
    - @mydons.each do |rizq|
        %br
        = rizq.food
        = rizq.quantity
        = rizq.address
        = rizq.area
        = rizq.date
        = rizq.time
        = rizq.perishable