<%= form_for(@rizq) do |f| %>
  <% if @rizq.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@rizq.errors.count, "error") %> prohibited this rizq from being saved:</h2>

      <ul>
      <% @rizq.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
    <%= f.label :UserID %><br>
    <%= f.text_area(:user_id, :value => @usid) %>
  </div>
  <div class="field">
    <%= f.hidden_field :action, :value => @temp1 %>
  </div>
  <div class="field">
    <%= f.label :food %><br>
    <%= f.text_area :food %>
  </div>
  <div class="field">
    <%= f.label :quantity %><br>
    <%= f.text_field :quantity %>
  </div>
  <div class="field">
    <%= f.label :address %><br>
    <%= f.text_area(:address, :value => @add) %>
  </div>
  <div class="field">
    <%= f.label :area %><br>
    <%= f.text_field :area %>
  </div>
  <div class="field">
    <%= f.label :date %><br>
    <%= f.date_select :date %>
  </div>
  <div class="field">
    <%= f.label :time %><br>
    <%= f.time_select :time %>
  </div>
  <div class="field">
    <%= f.label :perishable %><br>
    <%= f.check_box :perishable %>
  </div>
  <div class="actions">
    <%= f.submit :Submit%>
  </div>
<% end %>
