%nav.navbar.navbar-default.navbar-fixed-bottom.bg-1
    %div.container
        %div.navbar-header
        %button.navbar-toggle{'data-target' => '#myNavbar', 'data-toggle' => 'collapse', :type => 'button'}
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
        %div.collapse.navbar-collapse#myNavbarbottom
            %ul.nav.navbar-nav.navbar-right
                %li
                    = link_to 'About', about_path
                %li
                    = link_to 'Our Team', ourteam_path
                %li
                    = link_to 'FAQs', faqs_path
                %li
                    = link_to 'Contact us', contactus_path
                
%nav.navbar.navbar-default.navbar-fixed-top
    %div.container
        %div.navbar-header
        %button.navbar-toggle{'data-target' => '#myNavbar', 'data-toggle' => 'collapse', :type => 'button'}
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
        %div.collapse.navbar-collapse#myNavbar
            %ul.nav.navbar-nav.navbar-left
                %li
                    %img.img-rounded.logo{:alt => 'RizqLogo', :height => "50px", :src => "http://i1118.photobucket.com/albums/k606/apocalypse8/rizq%20logo_zpspsfuuoad.png", :width => "50px"}
            %ul.nav.navbar-nav.navbar-right
                %li 
                    - if logged_in?
                        = link_to 'Profile', user_path(current_user)
                    // - else
                    //     = link_to 'Login', login_path
                %li
                    - if logged_in?
                        = link_to @temp, new_rizq_path
                    // - else
                    //     = link_to 'Login', login_path
                %li
                    - if logged_in?
                        = link_to 'Logout', logout_path
                    - else
                        = link_to 'Login', login_path
                        

// %div.container-fluid.bg-grey.text-center
//     %img.img-rounded.logo{:alt => 'RizqLogo', :height => "300px", :src => "http://i1118.photobucket.com/albums/k606/apocalypse8/rizq%20logo_zpspsfuuoad.png", :width => "300px", :align => "middle"}

- 5.times do
    %br
// - @managerposts.zip(@names).each do |status, uname|
//     %br
//     %li
//         = uname[0] + ': '
//         = status.status

#myCarousel.carousel.slide{"data-ride" => "carousel"}
    %ol.carousel-indicators
        %li.active{"data-slide-to" => "0", "data-target" => "#myCarousel"}
        %li{"data-slide-to" => "1", "data-target" => "#myCarousel"}
        %li{"data-slide-to" => "2", "data-target" => "#myCarousel"}
    .carousel-inner{:role => "listbox"}
        .item.active
            %img#logo{:alt => 'RizqLogo', :src => "http://i1118.photobucket.com/albums/k606/apocalypse8/rizq%20logo%20medium_zps9c6ofeu8.png"}
                .carousel-caption
                    %h3 Rizq
                    %p Welcome to Rizq
        - @managerposts.zip(@names).each do |status, uname|
            .item
                %img{:alt => "New York", :src => "http://i1118.photobucket.com/albums/k606/apocalypse8/mainbg_zpsnijf4vp0.png"}
                    .carousel-caption
                        %h3 
                            = uname[0] + ': '
                        %p 
                            = status.status
    %a.left.carousel-control{"data-slide" => "prev", :href => "#myCarousel", :role => "button"}
        %span.glyphicon.glyphicon-chevron-left{"aria-hidden" => "true"}
        %span.sr-only Previous
    %a.right.carousel-control{"data-slide" => "next", :href => "#myCarousel", :role => "button"}
        %span.glyphicon.glyphicon-chevron-right{"aria-hidden" => "true"}
        %span.sr-only Next
        
// #myCarousel.carousel.slide{"data-ride" => "carousel"}
//     %ol.carousel-indicators
//         %li.active{"data-slide-to" => "0", "data-target" => "#myCarousel"}
//         %li{"data-slide-to" => "1", "data-target" => "#myCarousel"}
//         %li{"data-slide-to" => "2", "data-target" => "#myCarousel"}
//     .carousel-inner{:role => "listbox"}
//         // - @managerposts.zip(@names).each do |status, uname|
//         .item
//             .carousel-caption
//                 %h3
//                     Hello
//                     Bye
//                     // = uname[0] + ': '
//                     // = status.status
//         // .item
//         //     %img.img-rounded.logo{:alt => 'RizqLogo', :height => "300px", :src => "http://i1118.photobucket.com/albums/k606/apocalypse8/allpagebg_zpsjjcremcy.png", :width => "300px", :align => "middle"}
//         //     .carousel-caption
//         //         %h3 Chicago
//         //         %p Thank you, Chicago - A night we won't forget.
//         // .item
//         //     %img.img-rounded.logo{:alt => 'RizqLogo', :height => "300px", :src => "http://i1118.photobucket.com/albums/k606/apocalypse8/allpagebg_zpsjjcremcy.png", :width => "300px", :align => "middle"}
//         //     .carousel-caption
//         //         %h3 LA
//         //         %p Even though the traffic was a mess, we had the best time.
//     %a.left.carousel-control{"data-slide" => "prev", :href => "#myCarousel", :role => "button"}
//         %span.glyphicon.glyphicon-chevron-left{"aria-hidden" => "true"}
//         %span.sr-only Previous
//     %a.right.carousel-control{"data-slide" => "next", :href => "#myCarousel", :role => "button"}
//         %span.glyphicon.glyphicon-chevron-right{"aria-hidden" => "true"}
//         %span.sr-only Next
