<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header"></div>
    <button class="navbar-toggle" data-target="#myNavbar" data-toggle="collapse" type="button">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-left">
        <li>
          <img alt="RizqLogo" class="img-rounded logo" height="50px" src="http://i1118.photobucket.com/albums/k606/apocalypse8/rizq%20logo_zpspsfuuoad.png" width="50px"/>
        </li>
        <li>
          <%= link_to 'Receipt', "#" %>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
      </ul>
    </div>
  </div>
</nav>
<br><br><br><br><br><br>
<p id="notice"><%= notice %></p>

<p>
  <strong>Action:</strong>
  <%= @rizq.action %>
</p>

<p>
  <strong>Food:</strong>
  <%= @rizq.food %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @rizq.quantity %>
</p>

<p>
  <strong>Address:</strong>
  <%= @rizq.address %>
</p>

<p>
  <strong>Area:</strong>
  <%= @rizq.area %>
</p>

<p>
  <strong>Date:</strong>
  <%= @rizq.date %>
</p>

<p>
  <strong>Time:</strong>
  <%= @rizq.time %>
</p>

<p>
  <strong>Perishable:</strong>
  <%= @rizq.perishable %>
</p>

<%= link_to 'Back', rizqs_path %>
